# Version Control
.git/
.gitattributes
.gitignore

# VS Code Settings
.vscode/

# Development Files
node_modules/
package-lock.json

# Temporary Files
*.log
*.tmp
.DS_Store
Thumbs.db

# Build Artifacts
*.vsix

## License

LICENSE